* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.body {
    background-color: #F6F8FC;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .content {
        max-width: 992px;
        height: 100vh;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}